/* Add your CSS here to style your valentines day page */
#wrapper {
    border: 10px groove #D38081;
    border-radius: 30px;
    background-color: #F5EBC7;
    display: flex;
    flex-direction: column;
    width: 700px;
    text-align: center;
    margin: 50px auto;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin-left: 170px;
    margin-right: 170px;

}

li {
    list-style-type: none;
    padding: none;
    color: #A45164;
    box-shadow: 5px 5px 0px #E7B8AA;
    
}

h1 {
    color: #A45164;
   text-decoration-line: underline;
   text-decoration-style: double;
   text-shadow: 2px 2px 0px #E7B8AA;
   font-weight: bold;
   font-style: italic;
}

img {
    width: 500px;
    border-radius: 30px;
    border: 5px dotted #E7B8AA;

}

h2 {
    color: #A45164;
    font-weight: weight;
    font-style: italic;
    text-shadow: 2px 2px 0px #E7B8AA;
}

p {
    color: #D38081;
    padding: 0 70px 0 70px;
}

footer {
    color: #A45164;
    margin-top: 60px;
}