body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
/*
table.greyGridTable tbody td {
  font-size: 13px;
}
  */
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #FFFFFF;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}
​
table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}

.content-box {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

table {
  grid-column-start: 1;
  grid-column-end: 8;
}

form {
  grid-column-start: 9;
  grid-column-end: 11;
  border: 2px solid black;
  padding: 10px;
}
